<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MovieInfo</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand">MovieInfo</a></div>
      </div>
    </nav>

    <div class="container">
      <div class="row" id="movie" class="well"></div>
    </div>


    <script type="text/javascript" src="assets/scripts/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="assets/scripts/main.js"></script>

    <script>
      getMovie();

    </script>

  </body>
</html>
